.view-products {
  margin-top: 20px;
  padding: 0 20px;
}

.products-heading {
  margin: 20px 0;
  font-size: max(2vw, 20px);
  text-align: center;
}

.product-title {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  color: gray;
  font-size: max(1.1vw, 15px);
  font-weight: 700;
}

.product-row {
  display              : grid;
  grid-template-columns: repeat(7, 1fr);
  align-items          : center;
  margin               : 10px 0;
  color                : black;
  font-size            : max(0.9vw, 12px);
  gap                  : 2px;
  border               : 2px solid white;
  margin-top           : 10px;
  background-color     : rgb(247, 230, 132);
  border-radius        : 4px;
}

#product-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.action-icons {
  cursor      : pointer;
  margin-right: 10px;
  display     : inline-block;
  font-size: larger;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .product-title, .product-row {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .product-title, .product-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .product-title, .product-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .products-heading {
    font-size: max(4vw, 18px);
  }

  .product-title p, .product-row p {
    font-size: max(2vw, 14px);
  }
}
